body{
    background-color: rgb(1, 12, 18);
    font-family: 'Times New Roman', Times, serif;
}
.main{
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    color: aqua;
}
h1{
    color: aqua;
}
p{
    font-family: cursive;
    color: aqua;
    text-align: center; 
}